@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body .custom {
  font-family: "Kanit", sans-serif;
}

.listcontent-area.custom{
	padding-left: 50px;
}

.item-box.custom{
	margin:0px;
}

.table thead th {
    font-size: 18px!important;
    font-weight: 200;
}

.table tbody tr td {
    font-size: 18px!important;
    font-weight: 100;
}

.order-info {
    background: #f4f6fd;
    border-radius: 12px;
}

.form-wizard .nav-wizard {
    box-shadow: none !important;
    margin-bottom: 2rem;
}

.content-body.custom {
    margin-left: 0rem;
}

.form-wizard .nav-wizard.custom {
    box-shadow: none !important;
    margin-bottom: 2rem;
}

.sw-theme-default {
    border: 0px!important;
}

.form-wizard.custom .toolbar-bottom .btn.btn-primary {
    background-color: #2781d5;
    border-color: #2781d5;
    padding: 0.75rem 1.125rem;
}
.form-wizard.custom .toolbar-bottom .btn.btn-success {
    background-color: #2bc155;
    border-color: #2bc155;
    padding: 0.75rem 1.125rem;
    margin-left:2rem;
}

.col-form-label.custom{
	font-size: 1.3rem;
}

.select-custom select{
  	font-size: 1.2rem!important;
}

.form-custom input[type="text"]{
	font-size: 1.2rem!important;
}

.btn-icon-start {
    background: #fff;
    border-radius: 10rem;
    display: inline-block;
    margin: -0.5rem 0.75rem -0.5rem -1.188rem;
    padding: 0.5rem 0.8rem 0.5rem;
    float: left;
}

.btn {
    min-width: 6.875rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}

.btn.btn-info {
    color: #fff;
}

.search-area.custom input[type="text"]{
	font-size: 1.2rem!important;
}

.badge.custom{
    padding: 4px 6px;
    margin-left: 3px;
    cursor: pointer;
}

.sub-title.custom{
	font-size: 3rem;
}

.media.custom{
	position: relative;
}

.media-body.custom{
	position: absolute;
    left: 55%;
    top: 10%;
    min-height: 100px;
    max-height: 180px;
    overflow: hidden;
    height: 185px;
}

.content-wrapper.custom{
	padding-top: 0rem;
}

.items-table.custom tbody tr th, .items-table tbody tr td {
    border: 0;
    padding: 11px 8px;
}
.text-black.custom{
	font-size: 1.3rem;
}

.media-footer.custom{
	margin-top: 14rem;
    font-size: 3rem;
}

.widget-stat.card.custom{
	padding-left:0px;
	padding-right:0px;
}

.form-check.custom{
	margin: 21px 0px;
}

.form-check-label.custom{
	font-size: 1.2rem;
    padding-left: 2rem;
    padding-top:4px;
}

.form-check-input.custom{
	width: 1.5em;
    height: 1.5em;
}

.page-titles{
	padding: 0.9375rem 1.875rem;
    background: #fff;
    margin-bottom: 1.875rem;
    border-radius: 0.5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.page-titles.custom .breadcrumb .breadcrumb-item + .breadcrumb-item:before{
	padding-top: 8px;
}

.input_custom input[type="text"]{
	font-size: 1.2rem!important;
}

.input_custom label{
	font-size: 1.2rem!important;
}

.pulse-css.custom {
    top: 2rem;
    /*#ff6d4d*/
}

.me-auto.d-none h2{
	font-size: 1.675rem;
}

.pause-order {
	margin-top: 12px;
}

.pause-order .btn-sm{
	font-size: 1rem!important;
}

.dropdown-menu.custom{
	min-width: 20rem;
}

.badge.register-custom{
	font-size: 0.9rem;
	font-weight: 100;
}